<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품수정</title>
  <style>
      .field-error {
        font-size: 0.8rem;
        font-weight: bold;
        color: red;
      }
    </style>
</head>
<body>
<div class="wrap">
  <h3>상품수정</h3>
  <div>
    <form action="" method="post" th:object="${form}">
      <div>
        <label for="" >상품번호</label>
        <input type="text" name="pid" readonly th:field="*{pid}">
      </div>
      <div>
        <label for="">상품명</label>
        <input type="text" name="pname" th:field="*{pname}">
        <span class="field-error" th:errors="*{pname}"></span>
      </div>
      <div>
        <label for="">수량</label>
        <input type="text" name="quantity" th:field="*{quantity}">
        <span class="field-error" th:errors="*{quantity}"></span>
      </div>
      <div>
        <label for="">가격</label>
        <input type="text" name="price" th:field="*{price}">
        <span class="field-error" th:errors="*{price}"></span>
      </div>
      <div>
        <button type="submit" id="btnSave" th:text="#{button.save}">저장</button>
        <button type="button" id="btnCancel" th:text="#{button.cancel}">취소</button>
        <button type="button" id="btnFindAll" th:text="#{button.list}">목록</button>
      </div>
    </form>
  </div>
</div>
<script>
  const $btnSave = document.getElementById('btnSave');
  const $btnCancel = document.getElementById('btnCancel');
  const $btnFindAll = document.getElementById('btnFindAll');

  const btnCancel_h = e => history.back();
  const btnFindAll_h = e=> location.href = `/products`;

  $btnCancel.addEventListener('click',btnCancel_h, false);
  $btnFindAll.addEventListener('click',btnFindAll_h, false);

</script>
</body>
</html>